<form [formGroup]="form"
      (ngSubmit)="submit()"
      class="mb-5">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control"
           id="name"
           formControlName="name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
           class="form-control"
           id="email"
           formControlName="email">
  </div>
  <div class="form-group form-check">
    <input type="checkbox"
           class="form-check-input">
    <label class="form-check-inline">Christmas 2019</label>
  </div>
  <input type="submit"
         class="btn btn-primary"
         value="Add recipient">
</form>
